<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pgmerxw.eatwhat.mapper.PrizeMapper">
    <select id="getPrizeList" resultType="com.pgmerxw.eatwhat.model.Prize">
        select name,color from prize
    </select>

    <update id="updatePrizeById" parameterType="com.pgmerxw.eatwhat.model.Prize">
        update prize
        set name = #{name},color=#{color},updateDate=sysdate()
        where id=#{id}
    </update>

    <delete id="deletePrizeById" parameterType="java.lang.Long">
        delete
        from prize
        where id=#{id}
    </delete>

    <insert id="insertPrize" parameterType="com.pgmerxw.eatwhat.model.Prize">
        insert into Prize (name,color,inputDate,updateDate)
        values (#{name},#{color},sysdate(),sysdate());
    </insert>

    <insert id="insertRecord" parameterType="com.pgmerxw.eatwhat.model.Prize">
        insert into prize_record (name,inputDate)
        values (#{name},sysdate());
    </insert>
</mapper>